<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body class="text-center">
Sign Up Here!
<div layout:fragment="content">
    <form action = "/addUser">
        <input type = "text" id = "user-name-label" name = "username" placeholder="Please type your username" required=""/>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required="" />
        <input type="email" id="email" name="email" placeholder="E-mail" required="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div>

</body>
</html>